doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Lista de Tarefas
    link(href="../public/styles.css" rel="stylesheet")
  body
    .container
      h1 Lista de Tarefas
      form#tarefaForm
        .form-row
          input#tarefaTitulo(type="text" placeholder="Nova tarefa")
          input#prazo(type="date" placeholder="Prazo da tarefa")
          button#btnAddTarefa(type="submit") Adicionar
        textarea#descricao(placeholder="Insira a descrição da tarefa")
      ul#tarefaList
        each tarefa in lista 
          li(data-id=tarefa.id class=(tarefa.atrasada ? 'atrasada' : ''))
            form#editTarefa
              .input-container
                input(type="text" value=tarefa.id id="tarefaID")
                input(type="text" value=tarefa.titulo id="inputTitulo")
              textarea#inputDescricao(value=tarefa.descricao) #{tarefa.descricao}
              .prazo
                | Prazo: #{tarefa.prazo}
              .actions
                div.checkdiv 
                  input(type="checkbox" checked=tarefa.completed id="completed")
                  label(for="completed") Completa
                if tarefa.atrasada
                  span.text-atrasado Atrasada
                button#buttonRemover.btn-remove Remover
    script(src="controllers/script.js")
